:host {
    background-color: white;
    display: block;
    margin-top: 24px;
	min-height: calc(100% - 24px);
    div {
		min-height: calc(100vh - 184px);
        display: flex;
        flex-direction: column;
        gap: 56px;
		justify-content: space-between;
		position: relative;
    }
}

:host[data-name="Addresses"],
:host[data-name="Manage Account"] {
	upscale-breadcrumbs {
		display: none;
	}
}

.landscape-grid {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 100%;
	::ng-deep.row-item {
		flex-basis: 100%;
	}
	& > ::ng-deep:first-child,
	& > ::ng-deep:nth-child(2) {
		flex-grow: unset;
		flex-basis: 50%;
		height: 100%;
		min-height: 0;
		overflow-y: auto;
	}
}
.landscape-grid.entire-scroll {
	& > :first-child,
	& > :nth-child(2) {
		height: auto;
	}
}