@import '~styles/helpers/_module';


$space-between: 20px;

:host {
	nav {
		display: flex;
		min-height: 56px;
		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			overflow: auto;
			gap: 10px;
			li {
				box-sizing: border-box;
				display: flex;
				align-items: center;
				border: 0;
				outline: 0;
				height: 56px;
				a {
					@include button($background-color: #222222, $border-radius: 2px);
					@include small-font-size;
					height: 56px;
					line-height: 56px;
					padding: 0 $space-between;
					text-decoration: unset;
					text-align: left;
					color: white;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
					display: flex;
					background-color:unset;
					font-family: Roboto;
					font-size: 16px;
					font-weight: 500;
					color: #222222;
					&:hover {
						background-color: #00000020;
					}

				
					.item-icon {
						padding: 0 0 0 6px;
						margin-right: -10px;
						width: auto;
						height: 32px;
						align-self: center;
					}
				}
			}
		}
	}
}

upscale-shopping-cart-icon {
	font-weight: 100;
	@include small-font-size;
	background-color: #222222;
	border-radius: 2px;
	margin: 0 -20px;
	&:hover {
		background-color: #000000a0;
	}
	::ng-deep {
		.shopping-cart-icon__badge {
			background-color: #018B58;
		}
	}
}

upscale-navigation-search {
	display: flex;
	flex-direction: row;
}

upscale-navigation-search::after {
	display: block;
    content: "";
	padding: 7px 11px;
	width: 32px;
	height: 32px;
	align-self: center;
    background: transparent url('https://storage.googleapis.com/upscale-media-storage/content/icons/UPSC_export_icon_close.svg') no-repeat center;
	background-size: 32px;
}