@import '~styles/helpers/_module';

:host {
	.single-root-category-container {
		box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.07);
		background-color: white;

		&:hover {
			background-color: darken(white, 10%);
		}

		.upscale-generic-image {
			padding-top: 56.25%;
			@media (min-width: 1300px) {
				padding-top: 730px;
			}
		}

		.single-root-category-name {
			padding: 12px $medium-spacer-desktop;
			min-width: 80%;
			word-break: break-all;
		}
	}
}

:host {
	$background-color: inherit;

	display: flex;
	flex-direction: column;
	flex-grow: 1;
	flex-shrink: 0;

	.category-rows {
		margin-bottom: 6px;
		.category-row {
			width: 100%;
		}
	}

	upscale-product-list {
		flex-grow: 1;
		background-color: $background-color;
		display: block;
	}

	.search {
		margin: 24px 6px;
		&__text {
			@include base-font-size;
			color: #000000;
		}

		&__text-result {
			font-weight: bold;
		}
	}
}

.breadcrumbs {
	align-items: center;
	display: flex;
	flex-direction: row;
	font-family: Roboto;
	@include small-font-size;
	font-weight: 300;
	width: 100%;
	height: 34px;
	padding: 0 10px;
	color: black;

	.breadcrumb {
		&:not(:last-of-type) {
			@include clickable;
			text-decoration: none;
			font-weight: 500;
		}
	}

	.delimiter {
		white-space: pre;
		&:last-of-type {
			display: none;
		}
		font-weight: 500;
	}
}

.divider {
	border: 0px;
}

.guided-filter {
	display: none !important;
	background: #f5f5f5;
	box-sizing: border-box;
	margin-top: -6px;
	overflow-x: hidden;
	padding: 16px 0 16px 5px;
	position: sticky;
	top: 0;
	z-index: 3;

	&,
	&-trigger,
	&-chips {
		align-items: center;
		display: flex;
		flex-direction: row;
	}

	&-chip {
		flex: none;
		margin-left: 12px;
	}

	&-chips {
		flex: 1;
		margin: -14px 0;
		overflow-x: auto;
		overflow-y: hidden;
		padding: 14px 0;
	}

	&-trigger {
		$backgroundColor: #ffffff;
		$height: 40px;

		@include hover($backgroundColor);

		background: $backgroundColor;
		border: 1px solid #efefef;
		border-radius: 2px;
		color: black;
		cursor: pointer;
		@include base-font-size;
		font-weight: 500;
		height: $height;
		max-width: 50%;
		padding: 0 14px;

		&:focus {
			outline: none;
		}
	}

	&-trigger-icon {
		$size: 2.8rem;

		@include font-size(28);
		font-weight: 900;
		height: $size;
		margin-right: 14px;
		width: $size;
	}

	&-trigger-text {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}

.single-root-category-container {
	z-index: 2;

	.image-container {
		width: 100%;
	}
}

.upscale-small,
.upscale-extra-small {
	:host {
		.single-root-category-container {
			.single-root-category-name {
				padding: 12px;
				word-break: break-all;
				background-color: white;
			}
		}
		.container-content {
			.search__text {
				@include small-font-size;
				margin-left: 2.5%;
			}
		}
	}
}

.upscale-mobile {
	:host {
		.single-root-category-container {
			.single-root-category-name {
				padding: 12px $medium-spacer-mobile;
				word-break: break-all;
				background-color: white;
			}
		}
	}
}

.upscale-tablet {
	:host {
		.single-root-category-container {
			.single-root-category-name {
				padding: 12px $medium-spacer-tablet;
				word-break: break-all;
				background-color: white;
			}
		}
	}
}
.upscale-mobile {
	:host {
		.category-row {
			width: 100%;
			overflow: auto;
			box-sizing: border-box;
			display: flex;
		}
		.category-row.default.first.last {
			upscale-category-list {
				padding: 10px;
			}
		}

		.category-row.default {
			upscale-category-list {
				padding: 10px 10px 0 10px;
			}

			& ~ .category-row.default {
				upscale-category-list {
					padding: 0 10px 10px 10px;
				}
			}
		}
	}
}

:host {
	.carousel-container {
		box-sizing: border-box;
		width: 100%;
		position: relative;
		padding: 15px 5px;

		.slide {
			flex: 0 0 200px;
			margin: 0 10px 8px;
			align-self: stretch;
			@include clickable;
			height: auto;
		}

		.scroll {
			display: flex;
			overflow: auto;
			width: 100%;
			scrollbar-width: none;
			-ms-overflow-style: none;
			align-items: center;

			upscale-loading-skeleton.default {
				display: flex;
				flex-direction: column;
				min-height: 183px;
				border-radius: 2px;
				background-color: white;
				box-shadow: 0 2px 4px 0 rgb(0 0 0 / 7%);
				height: 100%;
			}
		}
	}
}
