:host {
    ::ng-deep {
        .formgroup-input-container.collapsed {
            display: none;
        }

        upscale-shipping-selector[ng-reflect-editable="false"] {
            .shipping {
                .shipping__section-header,
                .shipping__products-single-column {
                    display: none;
                }

                .shipping__option-info {
                    display: flex;
                    justify-content: space-between;
                    color: black;
                    padding: 14px;
                }
            }
        }

        .formgroup-input-container {
            .formgroup__container {
                .formgroup__container-row {
                    padding: 0px;
                    .formgroup__container-header {
                        color: #222222;
                        font-family: Roboto;
                        font-size: 32px;
                        font-weight: bold;
                        letter-spacing: 0;
                        line-height: 38px;
                    }

                    .formgroup__container-header-arrow::after {
                        height: 10px;
                        width: 10px;
                        border-right: 2px solid black;
                        border-bottom: 2px solid black;
                    }
                }

                .formgroup__container-content {
                    .formgroup__container-content-form {
                        .same-as-shipping {
                            position: relative;
                            background-color: #F4F4F4;
                        }
                    }
                }
            }
            .formgroup__actions {
                align-items: center;
                justify-content: end;
                .formgroup__button {
                    width: 300px;
                    background-color: #018B58;
                    &:hover {
                        background-color: #018b58de;
                    }
                }
            }
        }

        .formgroup-input-container.complete {
            .formgroup__container {
                .formgroup__container-row {
                    .formgroup__container-header {
                        font-size: 22px;
                    }
                }
            }
        }

        .shipping-wrapper {
            padding: 12px 0 !important;
            display: grid;
            grid-template-columns: 1fr 1fr;
            margin-bottom: 10px;
            gap: 30px;

            .input-row,
            .select-input.country {
                
                .ng-touched.ng-invalid {
                    border: solid 2px #d0021b !important;
                }

                &:nth-child(1) {
                    grid-column: 1;
                    grid-row:3;
                }
        
                &:nth-child(2) {
                    grid-column: 1;
                    grid-row:1;
                }
        
                &:nth-child(3) {
                    grid-column: 2;
                    grid-row:1;
                }
        
                &:nth-child(4) {
                    grid-column: 2;
                    grid-row:3;
                }
        
                &:nth-child(5) {
                    grid-column: 1;
                    grid-row:4;
                }
        
                &:nth-child(6) {
                    grid-column: 2;
                    grid-row:4;
                }

                &:nth-last-child(3) {
                    grid-column-start: 1;
                    grid-column-end: 3;
                    grid-row: 5;
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    gap: 30px;
                }
        
                &:nth-child(8) {
                    grid-column: 1;
                    grid-row:2;
                }
        
                &:nth-child(9) {
                    grid-column: 2;
                    grid-row:2;
                }
            }

            .input-row input,
            .select-input{
                border: 1px solid #858585 !important;
                border-radius: 2px !important;
                background-color: #FFFFFF !important;
                &::placeholder {
                    color: rgb(50, 50, 50) !important;
                }
                color: black !important;
                & > select {
                    color: black !important;
                }
            }
        }

        .method-list {
            .shipping-selector {
                upscale-shipping-selector {
                    .shipping {
                        .shipping__header,
                        .shipping__products-single-column,
                        .shipping__products-double-column,
                        .shipping__bold {
                            display: none;
                        }

                        .shipping__option {
                            min-height: 48px;
                            border-radius: 2px;
                            background-color: #F4F4F4;
                            box-shadow: 0 1px 2px 0 rgba(34,34,34,0.16);
                            margin-bottom: 8px;
                            border-bottom: none;
                            color: #222222;
                            font-family: Roboto;
                            font-size: 16px;
                            letter-spacing: 0;
                            line-height: 24px;
                        }
                    }
                }
            }
        }

        .payment-container {
            .payment-selection {
                .payment-selection-trigger {
                    padding: 12px;
                    min-height: 48px;
                    background-color: #F4F4F4;
                    box-shadow: 0 1px 2px 0 rgba(34, 34, 34, 0.16);
                    border-radius: 2px;

                    .payment-logo {
                        width: 48px;
                        height:48px;
                    }

                    &.pad-bottom {
                        margin-bottom: 15px;
                    }
                }
            }
        }
    }
}