:host {
	display: flex;
	flex-direction: column;
	height: 100vh;

	upscale-language-selector,
	upscale-header,
	upscale-experience-component-location {
		flex: none;
	}

	.router-outlet {
		flex: 1;
		overflow-y: unset;
		overflow-x: unset;
	}
}
