@import '~styles/helpers/_module';
@import '~app/shared/formgroup-input-container/formgroup-input-container-mixins';

:host.hide {
	display: none;
}

:host {
	.formgroup-inputs {
		@include account-view;

		&__consent,
		&__registration {
			display: block;
			margin: auto;
			box-sizing: border-box;
			border: solid 1px #efefef;
			background-color: #ffffff;
		}
		&__consent {
			margin-top: $small-spacer-mobile;
		}
	}
}

.login {
	padding: $medium-spacer-tablet 0;
	display: flex;
	.login-content {
		width: 100%;
		.header {
			@include medium-font-size;
			padding-bottom: $small-spacer-tablet;
		}
		.title {
			@include large-font-size;
			color: $black;
			padding-bottom: 24px;
			padding-top: 60px;
			margin-left: 100px;
			font-size: 3.2rem;
			letter-spacing: 0;
			line-height: 38px;
		}
		.description {
			padding-bottom: 24px;
			margin-left: 100px;
		}
		.buttons {
			display: flex;
			flex-direction: row;
			margin-left: 100px;

			.login-button {
				@include button;
				min-width: 250px;
				height: 56px;
				border-radius: 2px;
				border-radius: 2px;
				border: solid 2px $black;
				color: $black;
				background-color: $white;
				display: inline-flex;
				text-decoration: none;
				justify-content: center;
				align-items: center;
				@include small-font-size;
				font-size: 1.6rem;
				font-weight: 500;
				box-shadow: 0 1px 2px 0 rgba(34,34,34,0.16);
				&:hover {
					background-color: darken(white, 10%);
				}
			}
			.register-button {
				@include button;
				margin-left: $small-spacer-tablet;
				min-width: 250px;
				height: 40px;
				color: #000000;
				border-radius: 2px;
				border: solid 2px $black;
				background-color: $white;
				@include small-font-size;
				font-weight: 500;
				&:hover {
					background-color: darken(white, 10%);
				}
			}
		}
	}
}

.register-content {
	width: 100%;
    background-color: #F4F4F4;
    border-radius: 0 2px 2px 2px;
    padding: 60px 100px;
	.title {
		@include large-font-size;
        font-size: 3.2rem;
        letter-spacing: 0;
        line-height: 38px;
		color: $black;
		padding-bottom: 24px;
		padding-top: 0px;
	}
	.description {
		padding-bottom: 24px;
	}
	.register-buttons {
		display: flex;
		justify-content: space-between;
		margin-top: $small-spacer-tablet;
		align-items: center;
        margin-top: 40px;
		.register-button {
			@include button;
			width: 100%;
			min-width: 250px;
			height: 56px;
			color: #ffffff;
			border-radius: 2px;
			background-color: #222222;
			@include small-font-size;
            font-size: 1.6rem;
			font-weight: 500;
            box-shadow: 0 1px 2px 0 rgba(34,34,34,0.16);
			&:disabled {
				background-color: #dadada;
				color: $upscale-grey4;
			}
		}
	}

    ::ng-deep {
        upscale-formgroup-input-container,
		lib-formgroup-input-container {
            background-color: inherit !important;
            border: 0px !important;
            .formgroup__container {
                background-color: inherit;

                .formgroup__container-row {
                    background-color: inherit;
                    height: 0px;
                    .formgroup__container-header {
                        display: none;
                    }
                }

                .formgroup__container-content {
                    .formgroup__container-content-form {
                        .input-container {
                            border: 1px solid #858585;
                            border-radius: 2px;
                            background-color: #FFFFFF;
                            margin-bottom: 20px;
                        }
                    }
                }
            }

            .formgroup__messages {
                background-color: inherit;
                margin: 0 0 20px 0;
                padding: 0px;
                color: #545454;
                font-size: 12px;
                .formgroup__message {
                    margin: 0px;
                }

                .formgroup__message::before {
                    content: "•";
                    padding: 0px 10px;
                }
            }

            .formgroup__messages::before {
                content: "Password requirements:";
            }
        }
    }
}

.input-container {
	@include input-container;
	border-top: solid 1px #efefef;
}
.last {
	border-bottom: solid 1px #efefef;
}

.input {
	@include input;
}

a {
	color: $anchor-text-color;
	text-decoration: none;
	font-weight: bold;
}

.consent-section {
	padding: 15px;
	margin-top: 1px;
	background: white;

	upscale-explicit-consent + upscale-explicit-consent {
		margin-top: 7px;
	}
}

.vertical-line {
	border-left: 0px;
	padding: 0 20px;
}

.upscale-extra-small,
.upscale-small {
	:host {
		.login {
			padding: $medium-spacer-mobile 0;
			display: inherit;
			.login-content {
				.title {
					padding-top: 0;
					margin-left: 0;
				}
				.description {
					margin-left: 0;
				}
				.buttons {
					flex-direction: column;
					padding-right: 10px;
					margin-left: 0;
					.login-button {
						min-width: fit-content;
					}
					.register-button {
						margin-left: 0;
						margin-top: $small-spacer-mobile;
					}
				}
			}
			.register-content {
				.title {
					padding-top: 24px;
				}
			}
		}
		.vertical-line {
			display: none;
		}
	}
}

.upscale-medium {
	:host {
		.login {
			padding: $medium-spacer-tablet 0;
			.login-content {
				.title {
					margin-left: 15px;
				}
				.description {
					margin-left: 15px;
				}
				.buttons {
					margin-left: 15px;
					flex-direction: row;
				}
			}
		}
		.vertical-line {
			padding-left: 0;
			padding-right: 30px;
		}
	}
}

.upscale-large {
	:host {
		.login {
			padding: $medium-spacer-tablet 0;
			.login-content {
				.buttons {
					flex-direction: row;
				}
			}
		}
	}
}

.upscale-extra-large {
	:host:not(.full-width) {
		.login {
			.login-content {
				width: calc(92% - 366px);
			}
			.register-content {
				width: calc(92% - 366px);
			}
		}
	}
}
