@import '~styles/helpers/_module';

:host {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	min-height: 300px;

	&.empty-cart {
		align-items: center;
		flex-direction: column;
		height: auto;

		.second.section,
		.cart__contents {
			display: none;
		}

		.cart-empty {
			display: flex;
		}

		.cart-notification {
			background-color: #ffffff;
		}
		.cart__send-cart-desktop {
			display: none;
		}
	}
	.button-text {
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		padding: 0 20px;
	}

	::ng-deep upscale-product-card {
		.card {
			border: none;
			border-top: 1px solid #CFCFCF;
			padding-top: 20px;
			padding-bottom: 10px;
		}
	}
}

.click-to-reload {
	@include clickable;
	@include hover(#ffffff);
	display: flex;
	justify-content: center;
	height: 400px;
	align-items: center;
	margin: 24px 0;
	flex-direction: column;
	background-color: #ffffff;

	i {
		@include font-size(50);
		color: $upscale-grey4;
	}
}

.divisions {
	margin-bottom: $small-spacer-desktop;

	&.groupItems {
		background-color: #ffffff;

		::ng-deep upscale-product-card {
			&.gridCard {
				.card {
					border: none;
				}

				&:nth-child(odd) {
					border-right: none;
				}
			}
		}

		@media screen and (min-width: 900px) and (max-width: 1200px) {
			::ng-deep upscale-product-card {
				&.gridCard {
					.card {
						border: none;
					}
					border-right: none;
					&:nth-child(3) {
						border-right: none;
					}
				}
			}
		}
	}

	.division-bar {
		display: none;
		padding-left: $small-spacer-tablet;
		background-color: #ffffff;
		width: 100%;
		height: 48px;
		box-sizing: border-box;
		align-items: center;
		border-bottom: 0px;

		.division-image {
			width: 35px;
			height: 48px;
			margin-right: $small-spacer-tablet;
		}
		.division-label {
			@include medium-font-size;
		}
	}
}

.cart {
	&__contents {
		flex: 1 1 auto;
		overflow-x: hidden;
		overflow-y: auto;
	}

	&__gridCart {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		justify-content: flex-start;
		margin-right: 0px;
		margin-left: 0px;
	}

	&__checkout-button {
		display: flex;
		align-items: center;
		justify-content: center;

		mat-spinner {
			margin-left: -5px;
			margin-right: 15px;

			::ng-deep circle {
				stroke: white;
			}
		}
	}

	&__send-cart {
		margin: 24px 0 0;
	}

	&__send-cart-desktop {
		padding: 0 15px;
		display: flex;
		flex-direction: column;

		&__send-cart-input-background {
			display: flex;
			flex-direction: row;
		}
	}

	&__headline-holder,
	&__send-headline-holder {
		display: flex;
		flex-direction: column;
		padding-top: $medium-spacer-tablet;
		padding-bottom: $medium-spacer-tablet;
	}

	&__send-headline-holder {
		width: 100%;
	}

	&__padding {
		padding-top: 20px;
	}

	&__send-cart-input-background {
		display: flex;
		flex-direction: row;
		padding-bottom: $medium-spacer-tablet;
		width: 100%;
		max-width: 738px;
	}
	&__error-holder {
		display: flex;
		flex-direction: column;
		width: 100%;
	}

	&__send-cart-error-message {
		margin-top: 6px;
		margin-bottom: 6px;

		.message {
			padding: 5px;
			background-color: #dc493a;
			color: white;
			border-radius: 2px;
		}
	}

	&__input-holder {
		display: flex;
		flex-direction: row;
		max-width: 738px;
		width: 100%;
	}

	&__input-label {
		color: black;
		@include small-font-size;
		margin-bottom: 6px;
	}

	&__send-cart-input {
		height: 46px;
		margin-right: 24px;
		flex: 4;
		@include small-font-size;
		padding-left: 15px;
		outline: none;
		border-radius: 2px;
		border: solid 1px #efefef;
	}

	&__send-cart-button {
		@include button;
		display: flex;
		justify-content: center;
		align-items: center;
		border: 1px;
		border-style: solid;
		flex: 1;
		min-width: 100px;
		outline: none;
	}

	&__checkout-button {
		@include button;
	}

	&__one-tap-buy-button {
		position: relative;

		&-icon {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}

	&__total-container {
		display: flex;
		justify-content: space-between;
		width: 100%;
		flex-direction: column;
		flex-grow: 1;
	}

	&__total {
		align-items: center;
		background-color: white;
		border-bottom: 1px solid $upscale-grey7;
		box-sizing: border-box;
		display: flex;
		flex: 0 0 103px;
		flex-direction: column;
		justify-content: space-between;
	}

	&__total-text {
		padding-right: 10px;
	}

	&__total-item {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	&__clear-cart {
		padding-bottom: $small-spacer-tablet;
		.clear-cart-wrapper {
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-direction: row-reverse;
		}

		.clear-cart-button {
			@include clickable;
			text-decoration: underline;
		}
	}
}

.cart-empty {
	align-items: center;
	display: none;
	flex: 1;
	flex-direction: column;
	padding-top: 151px;

	&__message {
		color: $upscale-grey4;
		font-family: 'Roboto';
		@include medium-font-size;
		letter-spacing: 0.2px;
		margin-top: 28px;
	}

	&__start-shopping-button {
		@include button;
		height: 50px;
		margin-top: 93px;
		margin-bottom: 40px;
		width: 366px;
	}
}

.cart-notification-wrapper {
	display: grid;
	grid-template: 1fr / 1fr 366px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.cart-notification {
	font-size: $small-font-size;
	position: relative;
	background-color: #ffffff;
	box-sizing: border-box;
    margin-top: 48px;
	margin-bottom: 10px;

	&__close {
		@include clickable;
		@include medium-font-size;
		color: #dd493b;
		padding: 3px 6px;
		position: absolute;
		top: 12px;
		right: 12px;
		width: 24px;
		box-sizing: border-box;

		&:hover {
			background-color: $upscale-grey9;
		}
	}

	&__removal {
		margin: 13px 24px 17px;
	}

	&__removals {
		@include base-font-size;
		border-top: 2px solid $upscale-grey11;
	}

	&__warning {
		color: #d0021b;
		@include medium-font-size;
		font-weight: 500;
		padding: 14px 24px 12px;
	}
}

:host {
	.section {
		&.first {
			overflow-x: hidden;
		}
	}
	.cart {
		upscale-one-tap-buy-button,
		&__checkout-button,
		&__send-cart-button {
			width: 100%;
		}

		&__checkout-button-spacer {
			padding: 15px 0 15px 0;
		}

		&__total {
			padding: 40px 15px;
		}
	}
}

.upscale-extra-small,
.upscale-small {
	:host {
		.cart {
			&__total {
				flex-direction: row;
				justify-content: flex-end;
			}
			&__headline-holder {
				padding: $medium-spacer-mobile;
			}

			&__send-headline-holder {
				display: flex;
				flex-direction: column;
				padding: $medium-spacer-mobile 0;
			}

			&__send-cart-input-background {
				padding: $medium-spacer-mobile 0;
			}
		}
		.divisions {
			margin-bottom: $small-spacer-mobile;
		}

		.second.section {
			margin-bottom: 20px;
		}
	}
}

.upscale-desktop {
	:host {
        margin-top: -24px;

		.sections {
			display: grid;
			grid-template-columns: 2fr 1fr;
			flex-direction: column;
			column-gap: 8%;
		}

		::ng-deep upscale-checkout-process {
			position: absolute;
			top: 20px;
			right: calc((100vw - min(1250px, 85%)) / 2);
			width: calc(min(1250px, 85%) * 0.3067);
		}
	}
}

.upscale-mobile {
	:host {
		.sections {
			display: block;
		}
	}
}

.upscale-mobile,
.upscale-desktop {
	:host {
		&.empty-cart {
			.sections {
				display: block;
			}
		}
	}
}

.upscale-extra-large {
	:host {
		.cart__clear-cart {
			margin: 0;
			width: 100%;
			.clear-cart-wrapper {
				width: 100%;
			}
			.clear-cart-button {
				padding-left: 0;
			}
		}
		.gridCart {
			.clear-cart-wrapper {
				padding-right: 6px;
			}
		}

		.cart {
			&__checkout-button,
			&__one-tap-buy-button {
				max-width: 200px;
			}
			&__total {
				flex-direction: row;
				justify-content: flex-end;
			}
		}
		.cart {
			&__one-tap-buy-button,
			&__checkout-button,
			&__send-cart-button {
				margin: 0;
				max-width: none;
			}

			&__send-headline-holder {
				display: flex;
				flex-direction: column;
			}

			&__send-cart-input-background {
				padding: 0 0 $medium-spacer-desktop 0;
			}

			&__send-cart-input {
				width: 100%;
			}

			&__one-tap-buy-button {
				margin-top: 24px;
			}

			&__total {
				flex-direction: column;
			}

			&__checkout-button-spacer {
				padding-top: 24px;
			}

			&__total {
				padding: 24px;
				border-bottom: none;
				justify-content: space-between;
			}

			&__measured-total {
				margin-left: 0;
			}
		}
	}
}

.upscale-extra-small,
.upscale-small,
.upscale-medium {
	:host {
		.cart {
			&__total {
				padding: $medium-spacer-mobile $small-spacer-mobile;
			}
			&__clear-cart {
				padding-bottom: $medium-spacer-mobile;
				padding-top: $medium-spacer-mobile;
			}
			&__send-cart-input {
				margin-right: $medium-spacer-mobile;
			}
		}

		.cart-notification-wrapper {
			grid-template: 1fr / 1fr;
		}

		.cart-notification {
			margin-right: 0;
		}
	}
}

.upscale-large,
.upscale-medium {
	:host {
		.cart-checkout-button {
			max-width: calc(100% / 3);
		}
		.cart__one-tap-buy-button {
			max-width: calc(100% / 3);
		}

		.cart-notification-wrapper {
			grid-template: 1fr / 1fr;
		}

		.cart-notification {
			margin-right: 0;
		}

		.divisions {
			margin-bottom: $small-spacer-tablet;
		}

		.second.section {
			margin-bottom: 20px;
		}
	}
}
