@import '~styles/helpers/_module';

.search-bar {
	display: flex;
	flex-direction: row;
	max-width: 700px;
	height: 54px;
	border: 1px solid #858585;
  	border-radius: 2px;
	&__input {
		height: 100%;
		width: 100%;
		border: none;
		outline: 0;
		font-size: 16px;
		font-weight: 500;
		background-color: inherit;
		color: black;
		margin-top: 0px;
	}
	&__icon {
		padding: 7px 11px;
		width: auto;
		height: 32px;
		align-self: center;
	}
}


.color-white {
	color: black;
}

.hamburger-width {
	width: none;
}

.navbar-width {
	width: 60vw;
}
