@import '~styles/helpers/_module';

:host {
	display: grid;
	grid-auto-rows: min-content;
	row-gap: 20px;

	.quick-buy-loading {
		height: 50px;
	}

	.button-text {
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		padding: 0 20px;
	}

	.click-to-reload {
		@include clickable;
		@include hover(#ffffff);
		display: flex;
		justify-content: center;
		height: 100px;
		align-items: center;
		margin: 24px 0;
		flex-direction: column;
		background-color: #ffffff;

		i {
			@include font-size(50);
			color: $upscale-grey4;
		}
	}

	.cart {
		&__buttons {
			display: flex;
			box-sizing: border-box;
			column-gap: 20px;
			grid-row-gap: 12px;
		}

		&__checkout-button {
			display: flex;
			align-items: center;
			justify-content: center;
			grid-row: 4;
			@include spinner(white);

			&.disabled {
				background-color: $upscale-grey10 !important;
				color: $upscale-grey4 !important;
			}
		}

		&__checkout-spinner {
			mat-spinner {
				margin-left: -5px;
				margin-right: 15px;
			}
		}

		&__checkout-button,
		&__one-tap-buy-button {
			height: 50px;
			width: 100%;
		}

		&__checkout-button {
			@include button;
		}

		&__checkout-button-spacer {
			padding: 15px 0 15px 0;
		}

		&__one-tap-buy-button {
			position: relative;

			&-icon {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}

		&__total-container {
			display: flex;
			justify-content: space-between;
			width: 100%;
			flex-direction: column;
			flex-grow: 1;
		}

		&__total {
			align-items: center;
			background-color: white;
			box-sizing: border-box;
			display: flex;
			flex: 0 0;
			flex-direction: column;
			justify-content: space-between;
            border-top: 0;
			border-bottom: 1px solid $upscale-grey11;
			padding: 18px 8px;

			.shipping-separator {
				margin-top: 17px;
				border-top: 1px solid $upscale-grey11;
				padding-top: 11px;
			}
		}

		&__total-text {
			padding-right: 10px;
		}

		&__total-wait {
			padding-top: 24px;
			justify-content: center;
			display: flex;
			@include spinner(black);
		}

		&__total-spinner {
			margin-right: 35px;
		}

		&__total-item {
			display: flex;
			flex-direction: row;
			justify-content: space-between;

			.total {
				font-weight: 500;
			}
			.vat-total {
				font-weight: 400;
				color: $upscale-grey4;
			}
		}
	}

	.summary-info {
		background-color: #ffffff;

		.title {
			@include medium-font-size;
			display: flex;
			align-items: center;
			height: auto;
			padding-left: 8px;
            color: #222222;
            font-family: Roboto;
		}
	}

    .summary-info:nth-of-type(1) {

        border-bottom: 1px solid $upscale-grey11;

		.title {
            font-size: 32px;
            font-weight: bold;
            letter-spacing: 0;
            line-height: 38px;
		}
	}


    .coupons {
        grid-row: 2;
    }

    .summary-info:nth-of-type(2) {
        grid-row: 3;
    }


	.coupon {
		background-color: #ffffff;
		margin-bottom: 6px;

		span {
			@include medium-font-size;
			text-transform: uppercase;
		}

		&.error-coupon {
			@include base-font-size;
			padding: 12px 6px 12px 16px;
			font-weight: 500;
			color: #d0021b;
			margin-top: 6px;
			margin-bottom: -3px;
		}

		&-invalid {
			.code,
			.stackability-error {
				color: #d0021b;
			}
			.stackability-error {
				@include base-font-size;
				overflow: visible;
				text-transform: none;
				white-space: normal;
			}
			.message {
				@include base-font-size;
				text-align: right;
				text-transform: none;
			}
		}
	}

	.couponsApplied {
		.couponApplied {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;

			&-name,
			&-discount {
				@include base-font-size;
				font-style: italic;
			}

			&-discount {
				text-align: right;

				&:before {
					content: '-';
				}
			}
		}
	}

	.addCoupon {
		display: flex;
		min-height: 45px;
		justify-content: space-between;
		align-items: center;
		padding: 5px 6px 5px 8px;
		border-top: 0px;
		margin-bottom: 6px;

		span {
			@include truncate-text-with-ellipsis;
		}

		.stackability-message {
			@include small-font-size;
			text-transform: none;
		}

		&-input {
			height: 35px;
			border: none;
			width: 75%;
			padding: 0;
			@include base-font-size;
			color: #000000;
			outline: none;
			text-transform: uppercase;
            border-bottom: 1px solid $upscale-grey4;

			&:placeholder-shown {
				text-transform: none;
			}
		}

		&-label {
			display: flex;
			flex-direction: column;
		}

		.addCoupon-button,
		.removeCoupon-button {
			@include clickable;
			justify-content: right;
			text-align: center;
			border: 1px solid #000000;
			border-radius: 2px;
			white-space: nowrap;
			overflow: hidden;

			&:hover {
				background-color: #f2f2f2;
			}

			&:disabled {
				color: #424242;
			}

			.button-label {
				padding: 0 15px;
				overflow: hidden;
				text-overflow: ellipsis;
				width: 100%;
				box-sizing: border-box;
				@include base-font-size;
				font-weight: 500;
				height: 35px;
				display: flex;
				align-items: center;
			}
		}

        .addCoupon-button {
            background-color: #ffffff;
        }

		.removeCoupon-button {
			border: none;
			border-radius: 0;

			.remove {
				text-decoration: underline;
				font-weight: 400;
				padding: 0;
			}

			&:hover {
				background-color: transparent;
			}
		}
	}

	.section__button {
		@include button;
		width: 100%;
		height: 50px;
		display: flex;
		align-items: center;
		justify-content: center;
		font-weight: 500;

		&.disabled {
			background-color: #dadada;
			color: $upscale-grey4;
		}

		mat-spinner {
			margin-left: -5px;
			margin-right: 15px;

			::ng-deep circle {
				stroke: white;
			}
		}

		@media (max-width: 600px) {
			width: 100%;
			border-radius: 0;
		}
	}

	upscale-attribute-set {
		width: 100%;

		::ng-deep .body {
			margin-top: 0;
			margin-bottom: 0;
			padding-top: 6px;
			padding-bottom: 6px;
			max-width: none;
			border: none;
		}
	}
}
