@import '~styles/helpers/_module';

.card {
	width: 100%;
	height: 100%;
	background: white;
	border: solid 1px $upscale-grey7;
	box-sizing: border-box;
	display: flex;
	flex-flow: column;
    flex-direction: row;
	position: relative;

	.product {
		width: 85%;
		.image {
			background-repeat: no-repeat;
			padding-top: 0px;
			padding-left: 0px;
		}
		.product-data {
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex: 1;
			padding: 0 0 0 15px;

			.info {
				width: 100%;

				.name {
					font-weight: 500;
				}
				.recurrence,
				.variant-attribute {
					@include small-font-size;
					text-transform: capitalize;
					font-weight: 400;
				}
			}
			.unit-price {
				@include small-font-size;
				text-transform: capitalize;
				font-weight: 400;
			}
			.quantity {
				@include small-font-size;
				text-transform: capitalize;
				font-weight: 400;
				display: flex;
				flex-direction: row;
				align-items: flex-start;
				.label {
					margin-right: 2px;
				}
				.quantity-value {
					margin-left: 20px;
					margin-right: 20px;
				}
				.selector {
					display: flex;
					flex-direction: row;
					align-items: center;
					padding-top: 0px;
					cursor: default;
					.number {
						border: solid 1px $upscale-grey11;
						@include base-font-size;
						text-align: center;
						height: 35px;
						width: 45px;
						margin: 0 2px 0 2px;
						outline: 0;
						-moz-appearance: textfield;

						&::-webkit-inner-spin-button,
						&::-webkit-outer-spin-button {
							-webkit-appearance: none;
							margin: 0;
						}
					}
					.action-button {
						@include clickable;
						width: 40px;
						line-height: 40px;
						text-align: center;
						user-select: none;
						font-weight: 100;
						background-color: $upscale-grey9;
						&:hover {
							background-color: darken(white, 10%);
						}
						.subtract {
							@include font-size(25);
						}
						.add {
							@include font-size(25);
						}

						&--disabled {
							color: $upscale-grey6;
							pointer-events: none;
						}
					}

                    ::ng-deep {
                        upscale-product-quantity-selector {
                            .quantity-label {
                                display: none;
                            }
                            .inputs {
                                display: grid;
                                grid-template-rows: 1fr 1fr;
                                grid-template-columns: 2fr 1fr;
                                width: 80px;
                                height: 56px;
                                background-color: #FFFFFF;
                                input {
                                    grid-row-start: 1;
                                    grid-row-end: 3;
                                    grid-column: 1;
                                    padding: 0;
                                    margin: 0;
                                    border: 1px solid #858585;
                                    border-radius: 2px 0 0 2px;
                                    border-right: transparent;
                                    height: 54px;
                                    width: 100%;
                                    color: #545454;
                                    font-family: Roboto;
                                    font-size: 14px;
                                    letter-spacing: 0;
                                    line-height: 20px;
                                    text-align: center;
                                }

                                button {
                                    width: 100%;
                                    border: 1px solid #858585;
                                    background-color: #F4F4F4;
                                    padding: 0;
									div {
										height: 100%;
									}
                                    .subtract,
                                    .add {
                                        font-size: 20px;
                                        width: 100%;
                                    }
                                }
                                button:last-child {
                                    border-radius: 0 2px 0 0;
                                }

                                button:first-child {
									z-index: 2;
                                    border-radius: 0 0 2px 0;
                                    border-top: none;
                                    grid-row: 2;
                                }
                            }
                        }
                    }
				}
			}
		}
		.prices {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			font-weight: 500;
			padding-left: 8px;
			.price {
				text-align: right;
				white-space: nowrap;
			}
			.lineSellingSubTotal {
				text-align: right;
			}
			.lineSubTotal {
				text-align: right;
				color: $upscale-grey4;
				text-decoration: line-through;
			}
			.lineDiscount {
				text-align: right;
				color: $upscale-grey4;
				white-space: nowrap;
			}
			.original-price {
				text-align: right;
				color: $upscale-grey4;
				text-decoration: line-through;
			}
		}
	}
	.button-holder {
		display: flex;
        flex-direction: column;
		flex-grow: 1;
		align-items: center;
		justify-content: center;
		padding: 0 18px 24px;
        .buttons {
            display: flex;
            flex-direction: column;
        }
	}

	.buttons {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		gap: 15px;
		color: #000000;
		width: auto;
		box-sizing: border-box;
		padding: 15px 0;

		.button-label {
			@include small-font-size;
			font-family: Roboto;
			line-height: 15px;
			padding: 0 15px;
			overflow: hidden;
			text-overflow: ellipsis;
			width: 100%;
			box-sizing: border-box;
			font-size: 1.4rem;
		}

		.remove-button {
			@include clickable;
			text-align: center;
			border: 0px;
			margin-right: 0px;
			white-space: nowrap;
			overflow: hidden;
			background-color: white;
			display: flex;

			&:hover {
				background-color: #f2f2f2;
			}

			&::after {
				content: '';
				background-image: url('https://storage.googleapis.com/upscale-media-storage/content/icons/delete_black_24dp.svg');
				background-position: center;
				background-repeat: no-repeat;
				background-size: 18px 18px;
				display: block;
				width: 18px;
				height: 18px;
				margin-left: 3px;
				margin-top: -1px;
			}
		}

		.edit-button {
			@include clickable;
			justify-content: right;
			text-align: center;
			border: 0px;
			white-space: nowrap;
			overflow: hidden;
			background-color: white;
			display: none;

			&:hover {
				background-color: #f2f2f2;
			}

			&::after {
				content: '';
				background-image: url('https://storage.googleapis.com/upscale-media-storage/content/icons/edit_black_24dp.svg');
				background-position: center;
				background-repeat: no-repeat;
				background-size: 18px 18px;
				display: block;
				width: 18px;
				height: 18px;
				margin-left: 3px;
				margin-top: -1px;
			}
		}
	}

	upscale-attribute-set {
		width: 100%;

		::ng-deep .body {
			max-width: none;
		}
	}

	::ng-deep upscale-loading {
		::ng-deep .loading {
			margin-top: 12px;
		}
	}

	.kit-products {
		display: flex;
		flex-direction: column;
		border: 1px solid $upscale-grey11;
		border-radius: 2px;
		box-sizing: border-box;
		margin: 6px 17px 0;

		.kit-includes {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 100%;
			cursor: pointer;
			background: transparent;
			border: none;
			outline: none;
			padding: 2px 6px;

			.expand {
				transition: transform 0.3s linear;

				&.show-less {
					transform: rotate(180deg);
				}
			}

			.title {
				@include small-font-size;
				color: $black;
				font-weight: 500;
			}
		}

		.kit-recap {
			display: flex;
			flex-direction: row;
			gap: 6px;
			margin-bottom: 6px;
			padding: 0 5px;

			&.expanded {
				flex-direction: column;

				&.list-view {
					display: grid;
					grid-template-columns: repeat(2, 1fr);

					&.not-cart {
						grid-template-columns: 1fr;
					}
				}
			}

			::ng-deep upscale-product-image {
				&.image {
					width: 50px !important;
					height: 50px !important;
					padding-top: 0;

					::ng-deep upscale-generic-image {
						width: 50px;
						height: 50px;
					}
				}
			}
		}
	}

	.kit-error {
		@include small-font-size;
		font-weight: 500;
		font-style: italic;
		color: $error;
		margin: 6px 17px 0;
	}
}

.product-card-blocker {
	height: 100%;
	width: 100%;
	background-color: rgb(255 255 255 / 55%);
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

:host {
	&.gridCard {
		margin-bottom: 10px;
		margin-right: 10px;
		width: 295px;
		.product {
			display: flex;
			flex-direction: column;
			padding: 0;
			.image {
				padding-top: 100%;
				height: 100%;
				width: 100%;
				position: relative;

				upscale-product-image {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
				}
			}
			.product-data {
				padding: 15px;
				.info {
					padding-left: 0;
					margin-right: 10px;
					.name {
						@include base-font-size;
					}
					.recurrence,
					.unit-price,
					.variant-attribute {
						@include small-font-size;
						font-weight: 400;
					}
					.quantity {
						margin-bottom: 10px;
					}

					upscale-attribute-set {
						::ng-deep .body {
							min-width: 0;
						}
					}
				}
				.prices {
					@include base-font-size;
					padding-left: 0;
					.price {
						text-align: right;
						font-weight: 500;
						line-height: 1.56;
						white-space: nowrap;
					}
				}
			}

			.quantity {
				@include small-font-size;
				font-weight: 500;
				color: $upscale-grey4;
				display: flex;
				flex-direction: row;

				.label {
					margin-right: 2px;
					color: #000000;
				}
				.quantity-value {
					margin-left: 20px;
					margin-right: 20px;
				}
				.selector {
					display: flex;
					flex-direction: row;
					align-items: center;
					cursor: default;
					.number {
						border: solid 1px $upscale-grey11;
						@include base-font-size;
						text-align: center;
						height: 35px;
						width: 45px;
						margin: 0 2px 0 2px;
						outline: 0;
						-moz-appearance: textfield;

						&::-webkit-inner-spin-button,
						&::-webkit-outer-spin-button {
							-webkit-appearance: none;
							margin: 0;
						}
					}
					.action-button {
						@include clickable;
						width: 40px;
						line-height: 40px;
						text-align: center;
						user-select: none;
						font-weight: 100;
						background-color: $upscale-grey9;
						&:hover {
							background-color: darken(white, 10%);
						}
						.subtract {
							@include font-size(25);
						}
						.add {
							@include font-size(25);
						}

						&--disabled {
							color: $upscale-grey6;
							pointer-events: none;
						}
					}
				}
			}
		}
	}
}

.upscale-extra-large,
.upscale-large {
	:host.cart-list {
		&.gridCard {
			width: 100%;
			padding: 0 ;
			box-sizing: border-box;
			margin: 0;
			.product {
				.product-data {
					.info {
						.name {
							@include medium-font-size;
						}
						.recurrence,
						.unit-price,
						.variant-attribute {
							@include small-font-size;
							font-weight: 400;
						}
					}
					.prices {
						@include medium-font-size;
					}
				}
				.quantity {
					@include small-font-size;
					font-weight: 400;
				}
			}
		}
		.list-view {
			.product {
				padding: 0;
				.product-data {
					.info {
						.name {
							@include medium-font-size;
							color: #000000;
						}
						.recurrence,
						.quantity,
						.unit-price,
						.variant-attribute {
							@include small-font-size;
							text-transform: capitalize;
							font-weight: 400;
						}
					}
					.prices {
						@include medium-font-size;
						.lineDiscount {
							@include base-font-size;
						}
					}
				}
			}
			.button-holder {
				padding: 0px;
				.buttons {
					padding: 0;
					.button-label {
						@include base-font-size;
						line-height: 15px;
						padding: 0;
					}
				}
			}

            .product {
                flex-direction: row;
                .image {
                    height: 80px;
                    width: 80px;
                    border-radius: 2px;
                    padding-top: 0px;
                }
        
                .product-data {
                    .info {
                        display: grid;
                        grid-template-columns: repeat(5, 1fr);
                        grid-template-rows: repeat(auto-fit, minmax(0, 1fr));

                        .name {
                            grid-column: 1 / 5;
                            grid-row: 1;
							display: flex;
							align-items: center;
                        }

                        .discount-product-promotion-font {
							display: none;
                            grid-column: 1 / 5;
                            grid-row: 3;
                        }
        
                        .quantity {
                            grid-column: 5;
                            grid-row: 1 / 4;
							justify-content: center;
							align-items: center;
                        }
                    }

                    .prices {
                        min-width: 120px;
                        max-width: 120px;
                        font-size: 1.4rem;

                        .lineDiscount {
                            font-size: 1.4rem;
                        }
                    }
                }
            }

            upscale-shipping-options {
                display: none;
            }
		}
	}
}

.upscale-large {
	:host.cart-list {
		&.gridCard {
			width: 33%;
			padding: 0 6px 12px 6px;
			box-sizing: border-box;
			border: none;
			margin: 0;
			.product {
				.image {
					width: 100%;
				}
				.product-data {
					.info {
						.name {
							@include base-font-size;
						}
						.recurrence,
						.unit-price,
						.variant-attribute {
							@include small-font-size;
							text-transform: capitalize;
							font-weight: 400;
						}
					}
					.prices {
						@include small-font-size;
					}
				}
				.quantity {
					@include small-font-size;
					text-transform: capitalize;
					font-weight: 400;
				}
			}
		}
	}
}

.upscale-medium {
	:host.cart-list {
		&.gridCard {
			width: 50%;
			padding: 0 6px 12px 6px;
			box-sizing: border-box;
			margin: 0;
			&:nth-child(even) {
				padding-right: 0;
			}
			.product {
				.image {
					width: 100%;
				}
				.product-data {
					.info {
						.name {
							@include medium-font-size;
						}
						.recurrence,
						.unit-price,
						.variant-attribute {
							@include small-font-size;
							text-transform: capitalize;
							font-weight: 400;
						}
					}
					.prices {
						@include medium-font-size;
					}
				}
				.quantity {
					@include small-font-size;
					text-transform: capitalize;
					font-weight: 400;
				}
			}
		}
		.list-view {
			.product {
				padding: 0;
				.image {
					width: 100px;
					height: 100px;
				}
				.product-data {
					.info {
						padding-left: $small-spacer-tablet;
						.name {
							@include medium-font-size;
							color: #000000;
						}
						.recurrence,
						.quantity,
						.unit-price,
						.variant-attribute {
							@include small-font-size;
							text-transform: capitalize;
							font-weight: 400;
						}
					}
					.prices {
						@include medium-font-size;
						.lineDiscount {
							@include base-font-size;
						}
					}
				}
			}
			.button-holder {
				.buttons {
					padding: 24px 0 0 0;
					.button-label {
						padding: 0 20px;
					}
				}
			}
		}
	}
}

.upscale-medium,
.upscale-small,
.upscale-extra-small {
	:host.cart-list {
		&.gridCard {
			width: 50%;
			padding: 6px;
			box-sizing: border-box;
			margin: 0;

			.product {
				.image {
					width: 100%;
				}
			}
		}
	}
}

.upscale-small,
.upscale-extra-small {
	:host.cart-list {
		&.gridCard {
			&:nth-child(even) {
				padding-right: 0;
			}
			width: 100%;
			padding: $small-spacer-mobile 0 $small-spacer-mobile $small-spacer-mobile;
		}
		.list-view {
			.product {
				padding: 0;
				.image {
					width: 88px;
					height: 88px;
				}
				.product-data {
					.info {
						padding-left: $small-spacer-mobile;
						.name {
							@include base-font-size;
							font-weight: 500;
							color: #000000;
						}
						.recurrence,
						.quantity,
						.unit-price,
						.variant-attribute {
							@include small-font-size;
							text-transform: capitalize;
							font-weight: 400;
						}
					}
					.prices {
						@include base-font-size;
						.lineDiscount {
							@include small-font-size;
						}
					}
				}

				upscale-attribute-set {
					::ng-deep .body {
						min-width: 0;
					}
				}
			}
			.button-holder {
				.buttons {
					padding: 24px 0 0 0;
				}
			}
		}
	}
}

.incentive-messages {
	margin-top: 12px;
}

.order-status {
	display: inline-block;
	text-transform: lowercase;
	&::first-letter {
		text-transform: uppercase;
	}
}
