@import '~styles/helpers/_module';

:host {
	&.default {
		@include clickable;
		display: flex;
		flex-direction: column;
		min-height: 0px;
		border-radius: 2px;
		background-color: #F4F4F4;
		box-shadow: 0 1px 2px 0 rgba(34,34,34,0.16);
		height: 100%;

		&:hover:not(.selected) {
			box-shadow: 0 1px 2px 0 rgba(34,34,34,0.16);
			background-color: darken(#F4F4F4, 10%);
		}

		.name {
			@include multiline-truncate-text-with-ellipsis(1em, 1.5, 3);
			margin: 12px;
			font-weight: 500;
            display: flex;
            position: relative;
		}

        .name::after {
            position: absolute;
            display: block;
            padding-left: 10px;
            right:0px;
            content: url('https://storage.googleapis.com/upscale-media-storage/content/icons/UPSC_export_icon_right-arrow.svg');
            width: 20px;
            height: 20px;
            margin-top: 0px;
        }

		.image {
            display: none;
			height: 0px;
			width: 100%;
			box-sizing: border-box;
		}

		&.selected {
			background: $upscale-blue;

			&:hover {
				background-color: mix(white, $upscale-blue, 15%);
			}
			.image {
				background-color: white;
			}
			.name {
				color: white;
			}
		}
	}

	&.collapsed {
		@include clickable;
		height: 50px;
		line-height: 50px;
		background-color: white;
		box-sizing: border-box;
		display: flex;

		&:hover {
			.name {
				background-color: darken(white, 10%);
			}
		}

		&.selected {
			.name {
				border-bottom: 3px solid #000000;
			}
		}

		.name {
			padding: 0 16px;
			white-space: nowrap;
			font-weight: 300;
		}
	}

	a:visited {
		color: inherit;
	}

	a {
		text-decoration: inherit;
		color: inherit;

		&.disabled {
			pointer-events: none;
		}
	}
}
