::ng-deep {
    upscale-scroll-carousel.carousel-container {
        padding: 15px 0px !important;
        .scroll {
            display: grid !important;
            grid-template-columns: repeat(5, 1fr);
            row-gap: 10px;
            column-gap: 16px;
            overflow: initial !important;

            .slide {
                margin: 0px !important;
            }
        }
    }
}