@import '~styles/helpers/_module';

:host {
	display: flex;
	flex-direction: column;
	color: #000000;
    max-width: 1250px;
    width: 85%;
    margin: 0 auto;
	margin-top: -30px;

	upscale-attribute-set {
		::ng-deep .body {
			padding-top: 6px;
			padding-bottom: 6px;
			max-width: none;
			border: none;
		}
	}

	upscale-product-card {
		::ng-deep upscale-attribute-set {
			::ng-deep .body {
				&.show {
					border: none;
					border-top: 2px solid $upscale-grey11;
					padding-top: 12px;

					.attribute-set-info {
						display: none;
					}

					.body-content {
						padding: 0;
					}
				}
			}
		}

        ::ng-deep .product {
            .image {
                height: 100px !important;
                width: 100px !important;
                border-radius: 2px;
                padding-top: 0px;
                padding: 10px 0 !important;
            }

            .product-data {
                .info {
                    display: grid !important;
                    grid-template-columns: repeat(5, 1fr);
                    grid-template-rows: repeat(auto-fit, minmax(0, 1fr));

                    .name {
                        grid-column: 1 / 5;
                        grid-row: 1;
                        display: flex;
                        align-items: center;
                        font-size: 1.8rem;
                        line-height: 1.55;
                        font-weight: 500;
                        color: #000000;
                    }

                    .discount-product-promotion-font {
                        display: none;
                        grid-column: 1 / 5;
                        grid-row: 3;
                    }

                    .quantity {
                        grid-column: 5;
                        grid-row: 1 / 4;
                        justify-content: center;
                        align-items: center;
                    }

                    .unit-price {
                        display: none;
                    }

                    .variant-attribute {
                        color: #424242;
                    }
                }

                .prices {
                    min-width: 120px;
                    max-width: 120px;
                }
            }
        }
	}
}

.divider {
	@include divider;
}

@media (max-width: 899px) {
	.banner {
		padding: 12px;
		&__headline {
			@include large-font-size;
		}
		&__sub-headline {
			@include base-font-size;
		}
	}
	.overview {
		@include base-font-size;
	}
	.details-section {
		.order-details__banner {
			@include base-font-size;
			height: 40px;
			.order-details__banner-headline {
				padding: 10px 15px;
			}
		}
		.details-body {
			@include base-font-size;
		}

		.shopping-button {
			display: none;
		}
	}
}
@media (min-width: 900px) {
	.banner {
		padding: 24px;
		&__headline {
			@include extra-large-font-size;
		}
		&__sub-headline {
			@include medium-font-size;
		}
	}
	.overview {
		@include base-font-size;
	}
	.details-section {
		.order-details__banner {
			@include medium-font-size;
			height: 56px;
			.order-details__banner-headline {
				padding: 0;
			}
		}
		.details-body {
			@include base-font-size;
		}
		.shopping-button {
			height: 56px;
		}
	}
}

upscale-shipping-tag {
	& + upscale-shipping-tag {
		margin-top: 25px;
	}
}

.overview {
	padding: 15px;
	padding-top: 0px;
	text-align: center;
	width: 100%;
	max-width: 1500px;
	margin: 0 auto !important;
	box-sizing: border-box;
	background-color: white;

	&__content {
		max-width: 870px;
		width: 100%;
		flex-direction: column;
	}
	&__headline {
		font-weight: bold;
		line-height: 1.22;
		@include font-size(46);
	}
	&__sub-headline {
		@include font-size(32);
        font-weight: bold;
		line-height: 1.5;
        display: inline;
        &::after {
            content: " ";
        }
	}

	.header {
		padding-bottom: 4px;
	}
	.address-listing {
		font-weight: 500;
		&__info-block {
			padding: 7px 0;
		}
		&__bold {
			line-height: 1.5;
		}
		&__body {
			display: flex;
			flex-direction: column;
			font-weight: normal;
			line-height: 1.5;
		}
	}
}
.margin {
	margin-top: 20px;
	margin-bottom: 20px;
}

.details-section {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-bottom: 24px;

	.order-guidance {
		margin: 20px 0;
	}

	.order-details {
		width: 100%;
		max-width: 1500px;
		box-sizing: border-box;
		margin: 20px 0;
		upscale-product-card {
			::ng-deep .card {
				border: none;
			}
		}

        .division-image,
        .shipping-summary {
            display: none;
        }

        .division-label::before {
            content: "List of products";
            font-size: 24px;
            font-weight: 500;
            color: black;
        }

        .division-label {
            overflow: hidden;
            color: white;
            width: 100%;
        }

		&__banner {
			background-color: white;
			&:hover {
				background-color: white;
			}
		}
		&__banner-headline {
			display: flex;
			justify-content: space-between;
			background-color: white;

			font-weight: 500;
            font-size: 24px;
			align-items: center;
			box-sizing: border-box;
			width: 100%;
			margin: 0 auto;

            & > em {
                display: none;
            }
		}
		.details-body {
			width: auto;
			max-width: 1500px;
			margin: 0 auto;
            display: grid !important;
            border-radius: 2px;
            background-color: #F4F4F4;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, min-content);
            padding: 24px;
            column-gap: 24px;

            .divider {
                display: none;
            }

            &__item:nth-child(2) {
                grid-row: 1;
                grid-column: 3;
                padding-left: 24px;
                border-left: 1px solid #CFCFCF;
            }

            &__item:nth-child(3) {
                grid-row: 1;
                grid-column: 1;
                border-right: 1px solid #CFCFCF;
            }

            &__item:nth-child(4) {
                grid-row: 2;
                grid-column: 1;
                border-right: 1px solid #CFCFCF;
            }

            &__item:nth-child(5) {
                grid-row: 1;
                grid-column: 2;
            }

            &__price-details:nth-child(6) {
                grid-row: 2;
                grid-column: 3;
                padding-left: 24px;
                border-left: 1px solid #CFCFCF;
            }

			&__item {
				display: flex;
				flex-direction: column;
				padding: 0;

				& + .details-body__item {
					border-top: 0px;
				}

                ::ng-deep {
                    upscale-shipping-tag {
                        display: flex !important;
                        justify-content: flex-start;
                        width: 100%;
                        flex-direction: row;
                        gap: 10px;
                
                        .division-name {
                            display: none;
                        }
                    }
                }
			}
			&__item-key {
				font-weight: 500;
				line-height: 1.5;
			}
			&__item-value {
				display: flex;
				flex-direction: column;
			}
			&__item-value-header {
				padding-bottom: 4px;
			}
			&__item-value-body {
				padding-bottom: 2px;

				.original-cost {
					text-decoration: line-through;
					line-height: 1.63;
					color: $upscale-grey4;
					margin-right: 6px;
				}
			}
			&__price-details {
				background-color: #F4F4F4;
				border-top: 0px;
				padding: 0px;
				display: flex;
				flex-direction: column;
			}
			&__price-item {
				display: flex;
				flex-direction: row;
				justify-content: space-between;

				.italic {
					font-style: italic;
				}
			}
			&__price-total-key {
				padding-top: 20px;
				font-weight: 500;
			}
			&__price-totalvat-key {
				font-weight: 400;
				color: $upscale-grey4;
			}
			&__price-total-value {
				padding-top: 20px;
				font-weight: 500;
			}
			&__price-totalvat-value {
				font-weight: 400;
				color: $upscale-grey4;
			}
		}
		.product-summary {
			width: 100%;
			max-width: 1500px;
			margin: 0 auto;
		}
		.shipping-summary {
			padding: 16px;
			background-color: white;

			&-info-costs {
				.original-cost {
					text-decoration: line-through;
					line-height: 1.63;
					color: $upscale-grey4;
					margin-right: 6px;
				}
			}
		}

		.pickup-grid {
			margin-top: 20px;
		}

		::ng-deep upscale-shipping-options {
			.pickup-info {
				background-color: $white;
			}
		}
	}
	.shopping-button {
		@include button($background-color: #000000);
		width: 100%;
		max-width: 1500px;
		border-radius: 0;
        display: none;
	}
}

em {
	border: solid black;
	border-width: 0 2px 2px 0;
	height: 8px;
	width: 8px;
}

.up-false {
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	margin-bottom: 4px;
}
.up-true {
	transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg);
	margin-top: 4px;
}

.division-info {
	display: flex;
	align-items: center;
	padding-left: $small-spacer-tablet;
	background-color: #ffffff;
	width: 100%;
	height: 48px;
	box-sizing: border-box;
	.division-image {
		width: 35px;
		height: 48px;
		margin-right: $small-spacer-tablet;
	}
	.division-label {
		@include medium-font-size;
	}
}

.upscale-mobile :host {
	.configuration {
		padding-bottom: $medium-spacer-mobile;
	}
}

.upscale-tablet :host {
	.configuration {
		padding-bottom: $medium-spacer-tablet;
	}
}

.upscale-desktop :host {
	.configuration {
		padding-bottom: $medium-spacer-desktop;
	}
}

.create-acct {
	line-height: 26px;

	&__title {
		font-weight: 500;
	}

	&__email {
		margin-bottom: 20px;
	}

	&__pwd-box {
		width: 360px;
		margin: auto;

		::ng-deep .formgroup__container-row {
			display: none !important;
		}
	}

	&__set-pwd {
		color: $upscale-grey3;
		align-items: center;
		align-content: center;
		display: flex;
		font-size: 14px;

		i.material-icons {
			@include clickable;
			font-size: 20px;
		}
	}

	&__success-icon {
		text-align: center;
		margin-top: 50px;

		i {
			font-size: 60px;
		}
	}

	&__success-msg {
		text-align: center;
		margin-top: 20px;
		margin-bottom: 35px;
	}

	&__help {
		background: $white;
		border: 1px solid $upscale-grey11;
		box-sizing: border-box;
		box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
		font-size: 14px;
		line-height: 20px;
		color: $upscale-grey2;
		padding: 10px 30px;
	}

	span.bold {
		font-weight: bold;
	}

	span.error {
		color: $error;
		margin: 0 4px;
	}

	input {
		width: 100%;
		height: 36px;
		background: $white;
		border: 1px solid $upscale-grey5;
		box-sizing: border-box;
		border-radius: 2px;
		margin-bottom: 20px;
		margin-top: 6px;
	}

	&__submit {
		@include clickable;
		width: 100%;
		height: 36px;
		left: 438px;
		top: 519px;
		background: $black;
		opacity: 0.6;
		border-radius: 2px;
		color: $white;
		margin-top: 11px;
		font-size: 16px;
	}

	&__submit[disabled] {
		background-color: $upscale-grey10;
		color: $upscale-grey4;
		pointer-events: none;
		border: none;
		cursor: not-allowed;
	}

	&__help-btn {
		@include clickable;
		background-color: $white;
		border: none;
	}
}
