@import '~styles/helpers/_module';

:host {
    max-width: 1250px;
	width: 85%;
	height: 35px;
	padding: 0;
	display: flex;
	align-items: center;
	background-color: white;
	border-bottom: 0px;
	box-sizing: border-box;
    margin: 0 auto;

	.breadcrumbs {
        text-decoration: none;
        font-weight: 500;
        color: black;

		&__arrow {
			color: black;
			@include base-font-size;
		}

		&__link,
		&__arrow {
			margin-right: 5px;
		}

		&__text,
		&__link {
			@include small-font-size;
			font-weight: 400;
		}

		&__link {
            font-weight: 500;
			color: black;
			cursor: pointer;
			text-decoration: none;
		}
	}
}
