:host {
	width: 100%;
    background-color: none;
}

.products {
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
	padding-bottom: 6px;
	width: 100%;
}

.products.LIST {
	align-items: stretch;
	flex-direction: column;

	.product {
		box-sizing: border-box;
		width: 100%;
	}
}

.masonry-grid {
	display: block;
}

.product {
	box-sizing: border-box;
	display: flex;
	position: relative;

	&:after {
		content: '';
		transition: background-color 0.3s;
	}

	&.fullWidth {
		width: 100%;
	}

	&-tile {
		box-sizing: border-box;
		flex: 1;

		&.hide {
			display: none;
		}
	}

	&-selected {
		position: relative;

		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: rgba(255, 255, 255, 0.7);
			margin: 6px;
		}
	}
}

.upscale-large-width,
.upscale-extra-large-width {
	:host {
		.product {
			padding: 6px;
			width: 25%;

			&.fullWidth {
				width: 100%;
			}
		}
	}
}

.upscale-medium-width {
	:host {
		.product {
			padding: 6px;
			width: 50%;

			&.fullWidth {
				width: 100%;
			}
		}
	}
}

.upscale-small-width {
	:host {
		.products {
			padding: 2.5%;
		}

		.product {
			padding: 3.5px;
			width: 50%;

			&.fullWidth {
				width: 100%;
			}
		}
	}
}

.upscale-extra-small-width {
	:host {
		.products {
			padding: 2.5%;
		}

		.product {
			padding: 3.5px;
			width: 100%;

			&.fullWidth {
				width: 100%;
			}
		}
	}
}
