@use 'sass:math';

@import '~styles/helpers/_module';

:host {
	display: block;
	box-sizing: border-box;
	max-width: none !important;
	$dark-font-color: #000000;

	.title {
		@include multiline-truncate-text-with-ellipsis(32px, 38/32, 1);
		font-weight: 700;
		margin-bottom: 24px;
		&-alignment {
			&_left {
				text-align: left;
			}

			&_center {
				text-align: center;
			}

			&_right {
				text-align: right;
			}
		}
	}

	.sub-title {
		@include base-font-size;

		&-alignment {
			&_left {
				text-align: left;
			}

			&_center {
				text-align: center;
			}

			&_right {
				text-align: right;
			}
		}
	}
	.peek-placeholder.visible {
		margin: -12px -6px 0px -6px;
	}

	.peek-placeholder.tile.visible {
		margin-top: -30px;
	}

	.story-books {
		margin-top: 0px;

		.box {
			&-selected {
				position: relative;

				&:after {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					background-color: rgba(255, 255, 255, 0.7);
				}
			}
		}

		.grid {
			display: grid;
			grid-template-rows: 1fr;
			gap: 0 12px;
			margin-bottom: 24px;

			&.one {
				grid-template-columns: 1fr;
			}

			&.two {
				grid-template-columns: repeat(2, 1fr);
			}

			&.three {
				grid-template-columns: repeat(3, 1fr);
			}

			&.four {
				grid-template-columns: repeat(4, 1fr);
			}

			&.five {
				grid-template-columns: repeat(5, 1fr);
			}

			&.six {
				grid-template-columns: repeat(6, 1fr);
			}

			::ng-deep {
				upscale-generic-image:not(.product-info-image) {
					height: auto;
				}

				upscale-image {
					.image-content {
						height: 100%;

						.image-container {
							height: 100%;

							upscale-video {
								.video-container {
									position: initial;
									box-sizing: border-box;
								}

								upscale-generic-image {
									height: 100%;
								}

								.button-ruler {
									display: none;
								}
							}
						}
					}
				}

				.videoContent {
					&.details {
						// height: auto;
						position: relative;
					}
				}
			}

			@media (min-width: 601px) and (max-width: 900px) {
				margin-bottom: 24px;
				gap: 24px 12px;

				&.five,
				&.six {
					grid-template-columns: repeat(4, 1fr);
				}
			}

			@media (max-width: 600px) {
				margin-bottom: 12px;
				gap: 12px 12px;

				&.two,
				&.three,
				&.four,
				&.five,
				&.six {
					grid-template-columns: repeat(1, 1fr);
				}
			}
		}

		.asym-layout-1 {
			display: grid;
			grid-template-columns: 1fr repeat(4, 1fr);
			grid-template-rows: repeat(2, 135px);
			gap: 13px 13px;
			margin-bottom: 13px;

			.story:first-child {
				grid-column: 1 / 3;
				grid-row: 1 / 3;
			}

			&.reverse {
				grid-template-columns: repeat(4, 1fr) 1fr;

				.story:first-child {
					grid-column: 1;
					grid-row: 1;
				}

				.story:nth-child(4) {
					grid-column: 1;
				}

				.story:nth-child(7) {
					grid-column: 4 / 6;
					grid-row: 1 / 3;
				}
			}

			@media (min-width: 601px) and (max-width: 900px) {
				grid-template: repeat(3, 75px) / 1fr repeat(2, 132px);
				gap: 8px 8px;
				margin-bottom: 8px;

				.story:first-child {
					grid-column: 1 / 2;
					grid-row: 1 / 4;
				}

				&.reverse {
					grid-template: repeat(3, 75px) / repeat(2, 132px) 1fr;

					.story:nth-child(4) {
						grid-column: 2;
					}

					.story:nth-child(7) {
						grid-column: 3 / 6;
						grid-row: 1 / 4;
					}
				}
			}

			@media (max-width: 600px) {
				grid-template: repeat(5, 105px) / repeat(2, 1fr);
				gap: 12px 12px;
				margin-bottom: 12px;

				.story:first-child {
					grid-column: 1/3;
					grid-row: 1/3;
					margin: 0;
				}

				&.reverse {
					grid-template: repeat(5, 105px) / repeat(2, 1fr);
					gap: 12px 12px;

					.story:first-child {
						grid-column: 1/3;
						grid-row: 1/3;
						margin: 0;
					}

					.story:nth-child(7) {
						grid-column: 2;
						grid-row: 5;
					}
				}

				&.slider {
					grid-template: 195px / 1fr;
					gap: 12px 12px;
					margin-bottom: 12px;
				}
			}
		}

		.asym-layout-2 {
			$detailsHeight: 227px;
			$heroHeight: 348px;
			display: grid;
			// rows/columns
			grid-template: $heroHeight $detailsHeight / repeat(6, 1fr);
			grid-auto-rows: minmax(0px, auto);
			gap: 25px 25px;
			margin-bottom: 25px;

			.story:first-child {
				grid-column: 1/4;
				grid-row: 1;
			}

			.story:nth-child(2) {
				grid-column: 4/7;
				grid-row: 1;
			}

			.story:nth-child(3) {
				grid-column: 1/3;
				grid-row: 2;
			}

			.story:nth-child(4) {
				grid-column: 3/5;
				grid-row: 2;
			}

			.story:nth-child(5) {
				grid-column: 5/7;
				grid-row: 2;
			}

			&.reverse {
				&.vertical {
					// rows/columns
					grid-template: $detailsHeight $heroHeight / repeat(6, 1fr);

					.story:first-child {
						grid-column: 1/3;
						grid-row: 1;
					}

					.story:nth-child(2) {
						grid-column: 3/5;
						grid-row: 1;
					}

					.story:nth-child(3) {
						grid-column: 5/7;
						grid-row: 1;
					}

					.story:nth-child(4) {
						grid-column: 1/4;
						grid-row: 2;
					}

					.story:nth-child(5) {
						grid-column: 4/7;
						grid-row: 2;
					}
				}
			}

			@media (min-width: 601px) and (max-width: 900px) {
				grid-template: 195px 127px / repeat(6, 1fr);
				gap: 12px 12px;
				margin-bottom: 12px;
				$detailsHeight: auto;

				.story:first-child {
					height: $detailsHeight;
				}
				.story:nth-child(2) {
					height: $detailsHeight;
				}
				.story:nth-child(3) {
					height: $detailsHeight;
				}
				.story:nth-child(4) {
					height: $detailsHeight;
				}
				.story:nth-child(5) {
					height: $detailsHeight;
				}
			}

			@media (max-width: 600px) {
				grid-template: 195px / 1fr;
				gap: 12px 0;
				$detailsHeight: auto;

				.story:first-child {
					grid-column: 1;
					grid-row: 1;
					height: $detailsHeight;
				}
				.story:nth-child(2) {
					grid-column: 1;
					grid-row: 1;
					height: $detailsHeight;
				}
				.story:nth-child(3) {
					grid-column: 1;
					grid-row: 1;
					height: $detailsHeight;
				}
				.story:nth-child(4) {
					grid-column: 1;
					grid-row: 1;
					height: $detailsHeight;
				}
				.story:nth-child(5) {
					grid-column: 1;
					grid-row: 1;
					height: $detailsHeight;
				}

				.story {
					margin: 0;
				}

				&.slider {
					grid-template: 195px / 1fr;
					gap: 12px 0;
				}
			}
		}

		.asym-layout-3 {
			display: grid;
			grid-template: repeat(2, 280px) / 1fr 450px;
			gap: 25px 25px;
			margin-bottom: 25px;

			.story:first-child {
				grid-column: 1;
				grid-row: 1/3;
			}

			&.reverse {
				grid-template-columns: 450px 1fr;

				.story:first-child {
					grid-row: 1/2;
				}

				.story:nth-child(2) {
					grid-column: 1;
					grid-row: 2/3;
				}

				.story:nth-child(3) {
					grid-column: 2/3;
					grid-row: 1/3;
				}
			}

			@media (min-width: 601px) and (max-width: 900px) {
				grid-template: repeat(2, 160px) / 1fr 250px;
				gap: 14px 14px;
				margin-bottom: 14px;

				&.reverse {
					grid-template-columns: 250px 1fr;
				}
			}

			@media (max-width: 600px) {
				grid-template: 285px 113px / repeat(2, 1fr);
				gap: 12px 12px;
				margin-bottom: 12px;

				.story:first-child {
					grid-column: 1/3;
					grid-row: 1;
				}

				&.reverse {
					grid-template: 285px 113px / repeat(2, 1fr);

					.story:first-child {
						grid-column: 1/3;
					}

					.story:nth-child(3) {
						grid-column: 2;
						grid-row: 2/3;
					}
				}
			}
		}

		.asym-layout-4 {
			$firstRow: 246px;
			$longColumnHeight: 353px;
			$longColumnWidth: 262px;
			$gap: 28px;
			// #{SASS VARIABLE} allows calc() to work
			$secondRow: calc(#{$longColumnHeight} - #{$firstRow} - #{$gap});

			display: grid;
			grid-template: $firstRow $secondRow $longColumnHeight / repeat(2, 1fr) $longColumnWidth;
			gap: $gap;
			margin-bottom: $gap;

			.story:first-child {
				grid-column: 1;
				grid-row: 1;
			}

			.story:nth-child(2) {
				grid-column: 2;
				grid-row: 1;
			}

			.story:nth-child(3) {
				grid-column: 1/3;
				grid-row: 2/4;
			}

			.story:nth-child(4) {
				grid-column: 3;
				grid-row: 1/3;
			}

			.story:nth-child(5) {
				grid-column: 3;
				grid-row: 3/4;
			}

			&.reverse {
				grid-template-columns: $longColumnWidth repeat(2, 1fr);

				.story:first-child {
					grid-column: 1;
					grid-row: 1/3;
				}

				.story:nth-child(2) {
					grid-column: 1;
					grid-row: 3/4;
				}

				.story:nth-child(3) {
					grid-column: 2;
					grid-row: 1;
				}

				.story:nth-child(4) {
					grid-column: 3;
					grid-row: 1;
				}

				.story:nth-child(5) {
					grid-column: 2/4;
					grid-row: 2/4;
				}

				&.vertical {
					grid-template: $longColumnHeight $secondRow $firstRow / repeat(2, 1fr) $longColumnWidth;

					.story:first-child {
						grid-column: 1/3;
						grid-row: 1/3;
					}

					.story:nth-child(2) {
						grid-column: 1;
						grid-row: 3;
					}

					.story:nth-child(3) {
						grid-column: 2;
						grid-row: 3;
					}

					.story:nth-child(4) {
						grid-column: 3;
						grid-row: 1;
					}

					.story:nth-child(5) {
						grid-column: 3;
						grid-row: 2/4;
					}
				}
			}

			@media (min-width: 601px) and (max-width: 900px) {
				$firstRow: 139px;
				$longColumnHeight: 199px;
				$longColumnWidth: 150px;
				$gap: 13px;
				// #{SASS VARIABLE} allows calc() to work
				$secondRow: calc(#{$longColumnHeight} - #{$firstRow} - #{$gap});

				grid-template: $firstRow $secondRow $longColumnHeight / repeat(2, 1fr) $longColumnWidth;
				gap: $gap;
				margin-bottom: $gap;

				&.reverse {
					grid-template-columns: $longColumnWidth repeat(2, 1fr);

					&.vertical {
						grid-template: $longColumnHeight $secondRow $firstRow / repeat(2, 1fr) $longColumnWidth;
					}
				}
			}

			@media (max-width: 600px) {
				$firstRow: 167px;
				$longColumnHeight: 225px;
				$gap: 12px;

				grid-template: repeat(3, $firstRow) $longColumnHeight / repeat(2, 1fr);
				gap: $gap;
				margin-bottom: $gap;

				.story:first-child {
					grid-column: 1/3;
					grid-row: 1;
				}

				.story:nth-child(2) {
					grid-column: 1/3;
					grid-row: 2;
				}

				.story:nth-child(3) {
					grid-column: 1/3;
					grid-row: 3;
				}

				.story:nth-child(4) {
					grid-column: 1/2;
					grid-row: 4;
				}

				.story:nth-child(5) {
					grid-column: 2/3;
					grid-row: 4;
				}

				&.reverse,
				&.reverse.vertical {
					grid-template: repeat(3, $firstRow) $longColumnHeight / repeat(2, 1fr);

					.story:first-child {
						grid-column: 1/3;
						grid-row: 1;
					}

					.story:nth-child(2) {
						grid-column: 1/3;
						grid-row: 2;
					}

					.story:nth-child(3) {
						grid-column: 1/3;
						grid-row: 3;
					}

					.story:nth-child(4) {
						grid-column: 1/2;
						grid-row: 4;
					}

					.story:nth-child(5) {
						grid-column: 2/3;
						grid-row: 4;
					}

					&.slider {
						grid-template: 167px / 1fr;
						gap: 0 0;
						margin-bottom: $gap;
					}
				}

				&.slider {
					grid-template: 167px / 1fr;
					gap: 0 0;
					margin-bottom: $gap;
				}
			}
		}

		.asym-layout-5 {
			display: grid;
			grid-template: 419px 286px / repeat(2, 1fr);
			gap: 24px 24px;
			margin-bottom: 24px;

			.story:first-child {
				grid-column: 1/3;
				grid-row: 1;
			}

			.story:nth-child(2) {
				grid-column: 1;
				grid-row: 2;
			}

			.story:nth-child(3) {
				grid-column: 2;
				grid-row: 2;
			}

			&.reverse {
				&.vertical {
					grid-template-rows: 286px 419px;

					.story:first-child {
						grid-column: 1;
						grid-row: 1;
					}

					.story:nth-child(2) {
						grid-column: 2;
						grid-row: 1;
					}

					.story:nth-child(3) {
						grid-column: 1/3;
						grid-row: 2/3;
					}
				}
			}

			@media (min-width: 601px) and (max-width: 900px) {
				grid-template: 240px 161px / repeat(2, 1fr);
				gap: 12px 12px;
				margin-bottom: 12px;
			}

			@media (max-width: 600px) {
				$firstRow: 167px;
				$longColumnHeight: 225px;

				grid-template: repeat(3, $firstRow) / 1fr;
				gap: 12px 11px;
				margin-bottom: 12px;

				.story:first-child {
					grid-column: 1/3;
					grid-row: 1;
				}

				.story:nth-child(2) {
					grid-column: 1/3;
					grid-row: 2;
				}

				.story:nth-child(3) {
					grid-column: 1/3;
					grid-row: 3;
				}

				&.reverse {
					grid-template: repeat(3, $firstRow) / 1fr;

					.story:first-child {
						grid-column: 1/3;
						grid-row: 1;
					}

					.story:nth-child(2) {
						grid-column: 1/3;
						grid-row: 2;
					}

					.story:nth-child(3) {
						grid-column: 1/3;
						grid-row: 3;
					}
				}

				&.slider {
					grid-template: 167px / 1fr;
					margin-bottom: 12px;
				}
			}
		}

		.asym-layout-6 {
			display: grid;
			grid-template: 250px / 1fr repeat(2, 250px);
			gap: 24px 24px;
			margin-bottom: 24px;

			&.reverse {
				grid-template-columns: repeat(2, 250px) 1fr;

				.story:nth-child(3) {
					grid-column: 3/4;
					grid-row: 1;
				}
			}

			@media (min-width: 601px) and (max-width: 900px) {
				grid-template: 169px / 1fr repeat(2, 169px);
				gap: 14px 14px;
				margin-bottom: 14px;
			}

			@media (max-width: 600px) {
				grid-template: repeat(2, 169px) / repeat(2, 1fr);
				gap: 13px 14px;
				margin-bottom: 13px;

				.story:first-child {
					grid-column: 1/3;
				}

				.story:nth-child(2) {
					grid-column: 1;
					grid-row: 2;
				}

				.story:nth-child(3) {
					grid-column: 2;
					grid-row: 2;
				}

				&.reverse {
					.story:nth-child(3) {
						grid-column: 2;
						grid-row: 2;
					}
				}

				&.slider {
					grid-template: 169px / 1fr;
					gap: 13px 0;
				}
			}
		}

		.asym-layout-7 {
			display: grid;
			grid-template: 323px / 1fr 323px;
			gap: 25px 25px;
			margin-bottom: 25px;

			&.reverse {
				grid-template-columns: 323px 1fr;

				.story:nth-child(2) {
					grid-column: 2/3;
					grid-row: 1;
				}
			}

			@media (min-width: 601px) and (max-width: 900px) {
				grid-template: 232px / 1fr 232px;
				gap: 13px 13px;
				margin-bottom: 13px;

				&.reverse {
					grid-template-columns: 232px 1fr;
				}
			}

			@media (max-width: 600px) {
				grid-template: 167px 351px / 1fr;
				gap: 12px 12px;
				margin-bottom: 12px;

				.story:first-child {
					grid-column: 1/3;
				}

				.story:nth-child(2) {
					grid-column: 1/3;
					grid-row: 2;
				}

				&.reverse {
					.story:nth-child(2) {
						grid-column: 1/3;
						grid-row: 2;
					}
				}

				&.slider {
					grid-template: 351px / 1fr;
					gap: 12px 0;
				}
			}
		}

		.asym-layout-8 {
			display: grid;
			grid-template: repeat(2, 250px) / 1fr repeat(2, 250px);
			gap: 24px 24px;
			margin-bottom: 24px;

			.story:first-child {
				grid-column: 1;
				grid-row: 1 / 3;
			}

			&.reverse {
				grid-template-columns: repeat(2, 250px) 1fr;

				.story:first-child {
					grid-column: 1;
					grid-row: 1;
				}

				.story:nth-child(2) {
					grid-column: 2;
					grid-row: 1;
				}

				.story:nth-child(3) {
					grid-column: 1;
					grid-row: 2;
				}

				.story:nth-child(4) {
					grid-column: 2;
					grid-row: 2;
				}

				.story:nth-child(5) {
					grid-column: 3 / 4;
					grid-row: 1 / 3;
				}
			}

			@media (min-width: 601px) and (max-width: 900px) {
				grid-template: repeat(2, 169px) / 1fr repeat(2, 169px);
				gap: 14px 14px;
				margin-bottom: 14px;

				&.reverse {
					grid-template-columns: repeat(2, 169px) 1fr;
				}
			}

			@media (max-width: 600px) {
				grid-template: 351px repeat(2, 169px) / repeat(2, 1fr);
				gap: 14px 14px;
				margin-bottom: 14px;

				.story:first-child {
					grid-column: 1/3;
					grid-row: 1;
					margin: 0;
				}

				&.reverse {
					grid-template: 351px repeat(2, 169px) / repeat(2, 1fr);
					gap: 12px 12px;

					.story:first-child {
						grid-column: 1/3;
						grid-row: 1;
						margin: 0;
					}

					.story:nth-child(2) {
						grid-column: 1;
						grid-row: 2;
					}

					.story:nth-child(3) {
						grid-column: 2;
						grid-row: 2;
					}

					.story:nth-child(4) {
						grid-column: 1;
						grid-row: 3;
					}

					.story:nth-child(5) {
						grid-column: 2;
						grid-row: 3;
					}
				}

				&.slider {
					grid-template: 195px / 1fr;
					gap: 12px 12px;
					margin-bottom: 12px;
				}
			}
		}
	}

	[class*='asym-layout-'] {
		::ng-deep {
			.video-container {
				padding-top: inherit;
			}
		}
	}

	.storyBookProgressBar {
		display: flex;
		height: 5px;

		span {
			flex: 1;
			height: 5px;
			transition: background-color 0.3s;
		}
	}
}

.upscale-desktop {
	:host {
		max-width: 1300px;
	}
}

:host upscale-ui-carousel::ng-deep {
	.slick-next,
	.slick-prev {
		$icon-size: 4.5rem;
		height: $icon-size;
		width: $icon-size;
		border-radius: 50%;
		background-color: rgba(255, 255, 255, 0.8);
		z-index: 2;
		&:before {
			color: #000000;
			font-family: 'Material Icons';
			font-size: $icon-size;
		}
	}
	.slick-next {
		right: 0;
	}
	.slick-prev {
		left: 0;
	}
	.slick-next:before {
		content: 'keyboard_arrow_right';
	}

	.slick-prev:before {
		content: 'keyboard_arrow_left';
	}
	.slick-prev.slick-disabled,
	.slick-next.slick-disabled {
		display: none;
	}
	.slick-slide {
		height: inherit !important;
		&:focus {
			outline: none;
		}
	}
	.slick-track {
		display: flex;
	}
}

:host {
	.container-content {
		upscale-ui-carousel::ng-deep {
			.slick-next {
				right: -25px;
			}
			.slick-prev {
				left: -25px;
			}
		}
	}
}

.upscale-small,
.upscale-extra-small {
	:host {
		.storybook-background {
			padding-left: 15px;
			padding-right: 15px;
			padding: 12px 15px 12px 15px;
		}
	}
}

.upscale-medium {
	:host {
		.storybook-background {
			padding: 0px 0;
		}
	}
}

.upscale-large,
.upscale-extra-large {
	:host {
		.storybook-background {
			padding: 0px 0;
		}
	}
}
