body {
    background-color: white !important;
}

@include upscale-desktop-wmq() {
	.container-content {
		max-width: 1250px;
		width: 85%;
		margin: 0 auto;
	}
}

.selling-price:first-child {
    color: #222222 !important;
}

.merge-badges-icons {
	margin: 10px;
}

.custom-cart-header {
	display: grid;
    grid-template-columns: 2fr 1fr;
    flex-direction: column;
    grid-column-gap: 8%;
    -moz-column-gap: 8%;
    column-gap: 8%;
	
	.header {
		color: #222222;
		font-family: Roboto;
		font-size: 32px;
		font-weight: bold;
		letter-spacing: 0;
		line-height: 38px;
		margin: 20px 0 24px 0;
	}

	.promotion-message {
		display: flex;
		flex-direction: row;
		gap: 12px;
		padding: 12px 16px;
		border-radius: 2px;
		background-color: #F4F4F4;

		.promotion-text {
			display: block;
			color: #545454;
			font-family: Roboto;
			font-size: 16px;
			letter-spacing: 0;
			line-height: 24px;
			height: 24px;
			padding-top: 3px;
			.highlight {
				font-weight: bold;
				color: #018B58;
			}
		}
	}
}

.order-confirmation-header {
	margin-top: 40px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;

	.order-confirmation-image {
		height: 56px;
		.image {
			height: 56px;
			width: 56px;
		}
	}
}